<!DOCTYPE html>
<html>
<head>
  <title>The Comic Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png") %>
		The Comic Bookstore
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="">Preguntas</a></li>
				<li><a href="">Noticias</a></li>
				<li><a href="">Contacto</a></li>
			</ul>
			<h3>Día y Hora: <%= DateTime.now %></h3>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
